// SPDX-License-Identifier: GPL-2.0-only
/*
 * Zuma Pro SoC device tree source
 *
 * Copyright (c) 2023 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 */

#include "zuma-drm-dpu.dtsi"


&drmdecon0 {
	/delete-property/  power-domains;
};

&drmdecon1 {
	/delete-property/  power-domains;
};

&drmdecon2 {
	/delete-property/  power-domains;
};
