// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright 2023 Google LLC.
 *
 */

/dts-v1/;
/ {
	/* List of SoCs that this device tree is compatible with */
	soc_compatible {
		B0_FOPLP {
			description = "B0,FOPLP";
			product_id = <0x09865>;
			major = <0x1>;
			minor = <0x0>;
			pkg_mode = <0x0>;
		};
	};
};

#include "zuma-b0.dtsi"
