// SPDX-License-Identifier: GPL-2.0-only
/*
 * Google ZUMA ISP device tree for interrupt events
 *
 * Copyright 2022 Google LLC.
 */

#include <dt-bindings/lwis/platform/zuma/fc.h>
{
	/* FC bayer pipeline interrupt event definitions */
	isp_fe_ctx0_fc_bayer: isp_fe-event-info@0 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x31300>;
		irq-reset-reg = <0x0 0x31300>;
		irq-mask-reg = <0x0 0x3130c>;
		irq-overflow-reg = <0x0 0x31304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_SOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_EOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_REG_UPDATED>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_ABORT_START>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_ABORT_DMA_CMPLT>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_ABORT_DONE>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_FC_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_SPD_WDMA_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_LMP_IDMA0_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_LMP_IDMA1_BUS_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_BAYER_CTX0_FC_SOF>,
			<ISP_FE_FC_BAYER_CTX0_FC_EOF>,
			<ISP_FE_FC_BAYER_CTX0_FC_REG_UPDATED>,
			<ISP_FE_FC_BAYER_CTX0_FC_ABORT_START>,
			<ISP_FE_FC_BAYER_CTX0_FC_ABORT_DMA_CMPLT>,
			<ISP_FE_FC_BAYER_CTX0_FC_ABORT_DONE>,
			<ISP_FE_FC_BAYER_CTX0_FC_LATE_CONFIG>,
			<ISP_FE_FC_BAYER_CTX0_FC_ERROR>,
			<ISP_FE_FC_BAYER_CTX0_SPD_WDMA_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX0_LMP_IDMA0_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX0_LMP_IDMA1_BUS_ERROR>;
	};
	isp_fe_ctx1_fc_bayer: isp_fe-event-info@1 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x33300>;
		irq-reset-reg = <0x0 0x33300>;
		irq-mask-reg = <0x0 0x3330c>;
		irq-overflow-reg = <0x0 0x33304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_SOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_EOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_REG_UPDATED>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_ABORT_START>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_ABORT_DMA_CMPLT>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_ABORT_DONE>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_FC_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_SPD_WDMA_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_LMP_IDMA0_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_LMP_IDMA1_BUS_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_BAYER_CTX1_FC_SOF>,
			<ISP_FE_FC_BAYER_CTX1_FC_EOF>,
			<ISP_FE_FC_BAYER_CTX1_FC_REG_UPDATED>,
			<ISP_FE_FC_BAYER_CTX1_FC_ABORT_START>,
			<ISP_FE_FC_BAYER_CTX1_FC_ABORT_DMA_CMPLT>,
			<ISP_FE_FC_BAYER_CTX1_FC_ABORT_DONE>,
			<ISP_FE_FC_BAYER_CTX1_FC_LATE_CONFIG>,
			<ISP_FE_FC_BAYER_CTX1_FC_ERROR>,
			<ISP_FE_FC_BAYER_CTX1_SPD_WDMA_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX1_LMP_IDMA0_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX1_LMP_IDMA1_BUS_ERROR>;
	};
	isp_fe_ctx2_fc_bayer: isp_fe-event-info@2 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x35300>;
		irq-reset-reg = <0x0 0x35300>;
		irq-mask-reg = <0x0 0x3530c>;
		irq-overflow-reg = <0x0 0x35304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_SOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_EOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_REG_UPDATED>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_ABORT_START>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_ABORT_DMA_CMPLT>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_ABORT_DONE>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_FC_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_SPD_WDMA_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_LMP_IDMA0_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_LMP_IDMA1_BUS_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_BAYER_CTX2_FC_SOF>,
			<ISP_FE_FC_BAYER_CTX2_FC_EOF>,
			<ISP_FE_FC_BAYER_CTX2_FC_REG_UPDATED>,
			<ISP_FE_FC_BAYER_CTX2_FC_ABORT_START>,
			<ISP_FE_FC_BAYER_CTX2_FC_ABORT_DMA_CMPLT>,
			<ISP_FE_FC_BAYER_CTX2_FC_ABORT_DONE>,
			<ISP_FE_FC_BAYER_CTX2_FC_LATE_CONFIG>,
			<ISP_FE_FC_BAYER_CTX2_FC_ERROR>,
			<ISP_FE_FC_BAYER_CTX2_SPD_WDMA_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX2_LMP_IDMA0_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX2_LMP_IDMA1_BUS_ERROR>;
	};
	isp_fe_ctx3_fc_bayer: isp_fe-event-info@3 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x37300>;
		irq-reset-reg = <0x0 0x37300>;
		irq-mask-reg = <0x0 0x3730c>;
		irq-overflow-reg = <0x0 0x37304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_SOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_EOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_REG_UPDATED>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_ABORT_START>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_ABORT_DMA_CMPLT>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_ABORT_DONE>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_FC_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_SPD_WDMA_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_LMP_IDMA0_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_LMP_IDMA1_BUS_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_BAYER_CTX3_FC_SOF>,
			<ISP_FE_FC_BAYER_CTX3_FC_EOF>,
			<ISP_FE_FC_BAYER_CTX3_FC_REG_UPDATED>,
			<ISP_FE_FC_BAYER_CTX3_FC_ABORT_START>,
			<ISP_FE_FC_BAYER_CTX3_FC_ABORT_DMA_CMPLT>,
			<ISP_FE_FC_BAYER_CTX3_FC_ABORT_DONE>,
			<ISP_FE_FC_BAYER_CTX3_FC_LATE_CONFIG>,
			<ISP_FE_FC_BAYER_CTX3_FC_ERROR>,
			<ISP_FE_FC_BAYER_CTX3_SPD_WDMA_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX3_LMP_IDMA0_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX3_LMP_IDMA1_BUS_ERROR>;
	};
	isp_fe_ctx4_fc_bayer: isp_fe-event-info@4 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x39300>;
		irq-reset-reg = <0x0 0x39300>;
		irq-mask-reg = <0x0 0x3930c>;
		irq-overflow-reg = <0x0 0x39304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_SOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_EOF>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_REG_UPDATED>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_ABORT_START>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_ABORT_DMA_CMPLT>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_ABORT_DONE>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_FC_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_SPD_WDMA_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_LMP_IDMA0_BUS_ERROR>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX4_LMP_IDMA1_BUS_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_BAYER_CTX4_FC_SOF>,
			<ISP_FE_FC_BAYER_CTX4_FC_EOF>,
			<ISP_FE_FC_BAYER_CTX4_FC_REG_UPDATED>,
			<ISP_FE_FC_BAYER_CTX4_FC_ABORT_START>,
			<ISP_FE_FC_BAYER_CTX4_FC_ABORT_DMA_CMPLT>,
			<ISP_FE_FC_BAYER_CTX4_FC_ABORT_DONE>,
			<ISP_FE_FC_BAYER_CTX4_FC_LATE_CONFIG>,
			<ISP_FE_FC_BAYER_CTX4_FC_ERROR>,
			<ISP_FE_FC_BAYER_CTX4_SPD_WDMA_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX4_LMP_IDMA0_BUS_ERROR>,
			<ISP_FE_FC_BAYER_CTX4_LMP_IDMA1_BUS_ERROR>;
	};
	/* FC pdaf pipeline interrupt event definitions */
	isp_fe_ctx0_fc_pdaf: isp_fe-event-info@5 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x3b300>;
		irq-reset-reg = <0x0 0x3b300>;
		irq-mask-reg = <0x0 0x3b30c>;
		irq-overflow-reg = <0x0 0x3b304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_PDAF_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX0_PDAF_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_PDAF_CTX0_PDAF_LATE_CONFIG>,
			<ISP_FE_FC_PDAF_CTX0_PDAF_ERROR>;
	};
	isp_fe_ctx1_fc_pdaf: isp_fe-event-info@6 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x3c300>;
		irq-reset-reg = <0x0 0x3c300>;
		irq-mask-reg = <0x0 0x3c30c>;
		irq-overflow-reg = <0x0 0x3c304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_PDAF_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX1_PDAF_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_PDAF_CTX1_PDAF_LATE_CONFIG>,
			<ISP_FE_FC_PDAF_CTX1_PDAF_ERROR>;
	};
	isp_fe_ctx2_fc_pdaf: isp_fe-event-info@7 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x3d300>;
		irq-reset-reg = <0x0 0x3d300>;
		irq-mask-reg = <0x0 0x3d30c>;
		irq-overflow-reg = <0x0 0x3d304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_PDAF_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX2_PDAF_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_PDAF_CTX2_PDAF_LATE_CONFIG>,
			<ISP_FE_FC_PDAF_CTX2_PDAF_ERROR>;
	};
	isp_fe_ctx3_fc_pdaf: isp_fe-event-info@8 {
		irq-reg-space = "isp_fe";
		irq-src-reg = <0x0 0x3e300>;
		irq-reset-reg = <0x0 0x3e300>;
		irq-mask-reg = <0x0 0x3e30c>;
		irq-overflow-reg = <0x0 0x3e304>;

		irq-events =
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_PDAF_LATE_CONFIG>,
			<LWIS_PLATFORM_EVENT_ID_ISP_FE_CTX3_PDAF_ERROR>;
		int-reg-bits =
			<ISP_FE_FC_PDAF_CTX3_PDAF_LATE_CONFIG>,
			<ISP_FE_FC_PDAF_CTX3_PDAF_ERROR>;
	};

}
