// SPDX-License-Identifier: GPL-2.0-only
/*
 * Zuma camera ISP device tree source
 *
 * Copyright 2022 Google LLC.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/zuma.h>
#include "zuma-isp-event-info.dtsi"

/ {
	lwis_top: lwis_top@0 {
		compatible = "google,lwis-top-device";

		/* Device node name */
		node-name = "top";
	};

	lwis_isp_fe: lwis_isp_fe@1C000000 {
		compatible = "google,lwis-ioreg-device";

		/* Device node name */
		node-name = "isp-fe";

		/* Register space */
		reg =
			<0x0 0x1C300000 0x100000>, /* ISPFE */
			<0x0 0x1C040000 0xD0000>;  /* CSIS LINK & PHY*/
		reg-names =
			"isp-fe",
			"csis-link-phy";

		interrupts =
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_1_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_4_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_2_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_2_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_2_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_2_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_2_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_3_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_3_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_3_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_3_ISPFE IRQ_TYPE_LEVEL_HIGH>
			<GIC_SPI IRQ_ISPFE_2_ISPFE IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names =
			"isp_fe_ctx0_fc_bayer",
			"isp_fe_ctx1_fc_bayer",
			"isp_fe_ctx2_fc_bayer",
			"isp_fe_ctx3_fc_bayer",
			"isp_fe_ctx4_fc_bayer",
			"isp_fe_ctx0_fc_pdaf",
			"isp_fe_ctx1_fc_pdaf",
			"isp_fe_ctx2_fc_pdaf",
			"isp_fe_ctx3_fc_pdaf",
			"isp_fe_ctx0_pdma",
			"isp_fe_ctx1_pdma",
			"isp_fe_ctx2_pdma",
			"isp_fe_ctx3_pdma",
			"isp_fe_ctx4_pdma",
			"isp_fe_ctx0_pdma_err",
			"isp_fe_ctx1_pdma_err",
			"isp_fe_ctx2_pdma_err",
			"isp_fe_ctx3_pdma_err",
			"isp_fe_ctx4_pdma_err",
			"isp_fe_ctx0_pdma_rstctl",
			"isp_fe_ctx1_pdma_rstctl",
			"isp_fe_ctx2_pdma_rstctl",
			"isp_fe_ctx3_pdma_rstctl",
			"isp_fe_ctx4_pdma_rstctl",
			"isp_fe_ctx0_lmp_bayer",
			"isp_fe_ctx1_lmp_bayer",
			"isp_fe_ctx2_lmp_bayer",
			"isp_fe_ctx3_lmp_bayer",
			"isp_fe_ctx4_lmp_bayer",
			"isp_fe_ctx0_lmp_pdaf",
			"isp_fe_ctx1_lmp_pdaf",
			"isp_fe_ctx2_lmp_pdaf",
			"isp_fe_ctx3_lmp_pdaf",
			"isp_fe_lmp_debug";
		interrupt-event-infos =
			<&isp_fe_ctx0_fc_bayer>,
			<&isp_fe_ctx1_fc_bayer>,
			<&isp_fe_ctx2_fc_bayer>,
			<&isp_fe_ctx3_fc_bayer>,
			<&isp_fe_ctx4_fc_bayer>,
			<&isp_fe_ctx0_fc_pdaf>,
			<&isp_fe_ctx1_fc_pdaf>,
			<&isp_fe_ctx2_fc_pdaf>,
			<&isp_fe_ctx3_fc_pdaf>,
			<&isp_fe_ctx0_pdma>,
			<&isp_fe_ctx1_pdma>,
			<&isp_fe_ctx2_pdma>,
			<&isp_fe_ctx3_pdma>,
			<&isp_fe_ctx4_pdma>,
			<&isp_fe_ctx0_pdma_err>,
			<&isp_fe_ctx1_pdma_err>,
			<&isp_fe_ctx2_pdma_err>,
			<&isp_fe_ctx3_pdma_err>,
			<&isp_fe_ctx4_pdma_err>,
			<&isp_fe_ctx0_pdma_rstctl>,
			<&isp_fe_ctx1_pdma_rstctl>,
			<&isp_fe_ctx2_pdma_rstctl>,
			<&isp_fe_ctx3_pdma_rstctl>,
			<&isp_fe_ctx4_pdma_rstctl>,
			<&isp_fe_ctx0_lmp_bayer>,
			<&isp_fe_ctx1_lmp_bayer>,
			<&isp_fe_ctx2_lmp_bayer>,
			<&isp_fe_ctx3_lmp_bayer>,
			<&isp_fe_ctx4_lmp_bayer>,
			<&isp_fe_ctx0_lmp_pdaf>,
			<&isp_fe_ctx1_lmp_pdaf>,
			<&isp_fe_ctx2_lmp_pdaf>,
			<&isp_fe_ctx3_lmp_pdaf>,
			<&isp_fe_lmp_debug>;

	}
};
