# SPDX-License-Identifier: GPL-2.0

menuconfig DEVICE_MODULES
	bool "Support for compiling out-of-tree modules within the kernel tree"
	help
	  Say Y if you want to compile the drivers within this device-modules folder.

if DEVICE_MODULES

source "device-modules/drivers/pci/controller/dwc/Kconfig"

source "device-modules/drivers/clk/gs/Kconfig"

source "device-modules/drivers/soc/google/Kconfig"

source "device-modules/drivers/input/Kconfig"

source "device-modules/drivers/char/hw_random/Kconfig"

source "device-modules/drivers/tty/serial/Kconfig"

source "device-modules/drivers/scsi/ufs/Kconfig"

source "device-modules/drivers/i2c/busses/Kconfig"

source "device-modules/drivers/usb/host/Kconfig"

source "device-modules/drivers/usb/dwc3/Kconfig"

source "device-modules/drivers/dma/Kconfig"

source "device-modules/drivers/dma-buf/heaps/Kconfig"

source "device-modules/drivers/spi/Kconfig"

source "device-modules/drivers/pinctrl/Kconfig"

source "device-modules/drivers/trusty/Kconfig"

source "device-modules/drivers/watchdog/Kconfig"

source "device-modules/drivers/regulator/Kconfig"

source "device-modules/drivers/mfd/Kconfig"

source "device-modules/drivers/media/platform/Kconfig"

source "device-modules/drivers/clocksource/Kconfig"

source "device-modules/drivers/iommu/Kconfig"

source "device-modules/drivers/cpufreq/Kconfig"

source "device-modules/drivers/devfreq/google/Kconfig"

source "device-modules/drivers/staging/android/Kconfig"

endif # DEVICE_MODULES
